@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

/* styling header */

.header {
    /* border: 1px solid black; */
    width: 75%;
    margin: 1rem auto;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#title {
    font-weight: 800;
}

#description {
    font-weight: 100;
    line-height: 2rem;
    font-style: italic;
}

/* styling Container */

.container {
    /* border: 1px solid black; */
    width: 500px;
    margin: 10px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    background:  rgb(238, 174, 202);
    background:  radial-gradient(circle, rgba(238, 174, 202, 0.5) 0%, rgba(148, 187, 233, 0.5) 100%);
}

/* styling form */

#survey-form {
    /* border: 1px dotted green; */
    width: 500px;
}

/* styling form elements */

.form-group {
    /* border: 1px solid red; */
    margin: 0 0 15px 0;
    font-family: 'Montserrat', sans-serif;

}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 475px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

/* dropdown styling */

#dropdown {
    width: 499px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

p {
    margin-bottom: 0.5rem;
    line-height: 27px;
    font-size: 20px;
}

/* radio-group styling */

#radio-label {
    font-size: 19px;
}

input[type="radio"] {
    margin-right: 7px;

}

/* checkbox styling */
span {
    margin-left: 5px;
}

#checked-label {
    font-size: 19px;
}

/* textarea styling */
textarea {
    width: 486px;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border: none;
}

/* button styling */

#submit {
    width: 498px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: #fdbb2d;
}